@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow-x: hidden; /* 가로 스크롤 전역 차단 */
  width: 100%;
}
